/data/meningioma/MEDprofiles_bin
/data/meningioma/csv/*
/data/mimic/MEDprofiles_bin
/data/mimic/csv/*
/data/mimic/pretrained_bert_tf
/MEDclasses/
/notebooks/.ipynb_checkpoints/
/output/*.csv
!.gitkeep

